@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Khmer&family=Playwrite+AU+QLD:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

:root{
    --hero-bg:#B6BCBC;
    --green-color:#203f03;
    --footer-bg:#F0F0F0;
    --icon-color:#333333;
}

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body {
    background-color: var(--hero-bg);
    overflow-x: hidden;
}
/* ============ header style ============== */
header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
}

.flex-box{
    display: flex;
}
.item-center {
    align-items: center;
}
.justify-space-between{
    justify-content: space-between;
}
nav{
    background-color: rgb(245, 243, 243,.7);
    padding: 0 32px;
}
.logo{
    color: var(--green-color);
}
.logo h2 {
    font-size: 48px;
}
#logo{
    display: none;
    font-size: 48px;
    color: var(--green-color);
}
.nav-menu{
    list-style-type: none;
    align-items: center;

}

.header-buttom{
    display: none;
}

.nav-menu .item{
    padding: 18px 24px;
}
.nav-menu .item a{
    padding: 18px 24px;
    text-decoration: none;
    font-weight: 600;
    color: var(--green-color);
    transition: all .3s ease-out;
}
.nav-menu .item a:hover{
    background-color: #203f03;
    color: var(--footer-bg);
}
.nav-menu .item .active{
    background: var(--green-color);
    color: var(--footer-bg);
}

.nav-right {
    gap: 12px;
}
.nav-right span{
    cursor: pointer;
}


/* ============= hero section style ================= */
.hero-section{
    height: 90vh;
    background: var(--hero-bg);
}
.animatio-show{
    animation: show-content linear 2s;
}
@keyframes show-content{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#menu{
    display: none;
}
.px-120{
    padding: 0 120px;
}
.hero-left p{
    color: var(--icon-color);
}
.hero-left p{
    color: var(--icon-color);
}
.title-font{
    font-size: 48px;
}
#hero-title{
    width: 400px;
}
.btn-style {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    background-color: var(--green-color);
    padding: 8px 28px;
    border-radius: 28px;
    text-decoration: none;
}

.mbuttom-56{
    margin-bottom: 56px;
}
.nav-right img {
    width: 600px;
    height: 400px;
}
.categories {
    padding: 32px 20px;
}
.text-center {
    text-align: center;
}
.flex-column {
    flex-direction: column;
}
.pro-image {
    width: 200px;
}

.group-images{
    height: 40vh;
    gap: 56px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 56px;
    padding: 10px;
}
.group-images a {
    text-decoration: none;
    color: #000;
    transition: all .2s ease-out;
    font-size: 18px;
    height: 100%;
    font-weight: 300;
}
.group-images a:hover{
    font-weight: 600;
}

.justify-center{
    justify-content: center;
}

.offer-section {
    width: 100%;
    padding: 20px 12px;
}
.card-container{
    margin-top: 56px;
    gap: 24px;
}
.cards {
    width: 48vw;
    height: 50vh;
    background-color: rgba(195, 190, 190, 0.187); 
    transition: .3s linear;
}
.cards:hover{
    background-color: rgba(195, 190, 190, 0.806); 
}
#left {
    background-image: url("https://i.pinimg.com/1200x/54/dc/fe/54dcfe4775fbc781c5cbe5fc387344fe.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#right{
    background-image: url("https://i.pinimg.com/1200x/31/db/4d/31db4de4d7b5a1149ad08b5c799ccb28.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.justifi-center {
    justify-content: center;
}
.btn-cards{
    display: inline-flex;
    flex-direction: column;
    text-decoration: none;
    margin-top: 32px;
    color: var(--green-color);
    font-weight: 600;
}
.btn-cards::after{
    content: "";
    height: 2px;
    width: 0;
    background: var(--green-color);
    position: relative;
    transition: all .4s linear;
}
.btn-cards:hover:after{
    width: 100%;
}
.sub-title {
    color: #000000;
}


.each-card .dsc{
    display: none;
    transition: all 1s linear;
}
.each-card:hover .dsc{
    display: flex;
}

.discover-section{
    padding: 20px;
    animation: show-produce 1s ease-out forwards;
    animation-timeline: view();
    animation-fill-mode: forwards;
    animation-range:entry 0% cover 30%;
}
@keyframes show-produce{
    from{
        opacity: 0;
        transform: translateX(-48px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.dis-content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
}
.dis-content img {
    width: 280px;
}
.dis-content p {
    width: 200px;
    margin-top: 4px;
}
#toTop {
    display: block;
    background: var(--footer-bg);
    padding: 12px 0;
    color: var(--icon-color);
    font-weight: 600;
    text-decoration: none;
}

footer {
    padding: 32px 32px 100px 32px;
}
.footer-section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    padding: 32px 0;
    border-bottom: 1px solid #808080;
}
.footer-section div {
    line-height: 1.8;
}

.footer-section a {
    text-decoration: none;
    display: inline-flex;
    width: fit-content;
    flex-direction: column;
    color: #000;
}

.footer-section a::after {
    position: relative;
    content: "";
    width: 0;
    height: 1px;
    background-color: #000;
    transition: all .3s linear;
}
.footer-section a:hover::after{
    width: 100%;
}
.group-icon{
    gap:24px;
}
.icon{
    font-size: 32px;
    color: #808080;
}
#the-end{
    margin-top: 32px;
}

.footer-item{
    margin: 0 24px;
    color: #000;
    text-decoration: none;
}


/* =================================Procuct Page style============================= */
